.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.parent {
  display: flex;
  justify-content: center;  /* Centra el contenedor hijo horizontalmente */
  width: 100%;              /* El contenedor padre ocupa el 100% del ancho */
}

.parentContainer {
  padding: 60px 10%;
}

.container {
  display: flex;
  padding: 5px 5%;
  justify-content: flex-start;  /* Alinea los elementos a la izquierda */
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 0;              /* Alinea al borde izquierdo */
}

.courseDescription {
  padding: 0px 5%;
  align-self: center;  /* Alinea verticalmente al centro */
  white-space: nowrap;  /* Evita que el texto se divida en varias líneas */

  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 3.2rem;
}

.card {
  width: 365px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;

  display: flex;
  flex-direction: column;  /* Asegura que el contenido esté en columna */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 250px;
  object-fit: scale-down;
  background-color: #000;
  border-bottom: 1px solid #6464644d;
}

.content {
  padding: 25px 25px 5px 25px;

  flex-grow: 1;  /* Hace que el contenido crezca para empujar el footer */
  display: flex;
  flex-direction: column;
}

.category {
  color: #888;
  font-size: 14px;
  margin: 0;
}

.title {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.description {
  font-size: 16px;
  color: #555;
  margin: 10px 0 1.3rem 0;
}

.footer {
  border-top: 1px solid #c4c4c44d;
  margin-top: auto;
  padding: 1rem 0;
}

.link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;  /* Alinea el texto y la flecha */
  align-items: center;
  width: 100%;  /* Ocupa todo el ancho del footer */
  color: var(--ifm-color-primary);
  font-size: 1rem;
}

.link:hover {
  text-decoration: none;  /* Asegura que no haya subrayado en hover */
}

.arrow {
  color: #b5b3b3;  /* Flecha de color gris */
  transition: transform 0.3s ease;
  margin-right: 5px;
  font-size: 1.2rem;  /* Aumenta el tamaño de la flecha */
}

.card:hover .arrow {
  transform: translateX(5px);  /* Anima la flecha hacia la derecha */
  color: #000;  /* Cambia la flecha a negro */
}

.card:hover .link {
  font-weight: 800;
}